.navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li{
    width: 260px;
    height: 40px;
    background: gray;
    border-bottom: 2px solid blue;
    border-right: 4px solid red;
    padding: 5px;
    transition: 2s;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
}
.navigation ul li:hover{
    width: 150px;
    background: black;
    transform:translate(110px, 40px);
}